/**********************************
 * Fonts
 **********************************/
@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight'),
         url('/assets/FiraSans-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'),
         url('/assets/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url('/assets/FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono Regular'),
         url('/assets/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/**********************************
 * Top-level Body
 **********************************/

body {
    font-family: 'Fira Sans';
    color: #484048;
    margin: 0;
    overflow: hidden;
}

/**********************************
 * HTML Elements
 **********************************/

select, button, input[type=number], input[type=text] {
    background-color: transparent;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.16);
    font-family: 'Fira Sans';
    font-size: 16px;
    height: 35px;
}

/*
 * Select styling adapted from 'select'/combo-boxes in Spectre CSS
 * https://picturepan2.github.io/spectre
 */
select {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) right 6px center/9px 12px no-repeat #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    min-width: 230px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.select-label {
    display: block;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

button.btn-icon {
    font-size: 20px;
}

button.btn-primary {
    background-color: rgba(30, 48, 149, 0.84);
    color: #f8f8f8;
}

input[type=number] {
    min-width: 40px;
    width: 70px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=text] {
    height: 30px;
    padding-left: 10px;
}

/*
 * Checkbox text alignment styles adapted from
 * https://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers
 */
.checkbox-label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

ul {
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 15px;
}

/**********************************
 * Own Containers and Elements
 **********************************/
.control-group {
    margin-bottom: 10px;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: 18px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
}

/*
 * Container border and shadow styling adapted from 'panel' in MUI CSS
 * https://www.muicss.com/
 */
.graph-container {
    padding: 22px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.graph-container h2 {
    font-size: 24px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.graph {
    display: inline-block;
    width: calc(100% - 380px);
    height: 390px;
}

.graph-controls {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 15px;
    padding-left: 15px;
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0.12);
    border-left-width: 0.5px;
}

.base-interval-select {
    display: block;
}

.target-head * {
    display: inline-block;
}

.button-container {
    float: right;
    padding-top: 1px;
}

.button-container button {
    display: inline-block;
    margin-left: 5px;
}

.options-container h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.addr-item button {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 8px;
}

.addr-input input[type=text] {
    margin-right: 5px;
    width: 185px;
}

@media (max-width: 1400px) {
    .graph {
        width: 68%;
    }
}

@media (max-width: 1150px) {
    .graph-container {
        margin-top: 0;
        width: calc(100% - 36px);
    }
    .graph {
        width: calc(100% - 285px)
    }
}

