@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight'),
         url('/assets/FiraSans-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'),
         url('/assets/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url('/assets/FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono Regular'),
         url('/assets/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Fira Sans';
    color: #484048;
    margin: 0;
    overflow: hidden;
}

select {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) right 6px center/9px 12px no-repeat #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.16);
    min-width: 230px;
    height: 35px;
    font-family: 'Fira Sans';
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
}

input[type=number] {
    border-style: solid;
    border-width: 1.2px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.16);
    min-width: 50px;
    width: 100px;
    height: 30px;
    font-family: 'Fira Sans';
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
}

span input[type=number] {
    margin-left: 10px;
    margin-right: 10px;
}

.label {
    margin-bottom: 10px;
}

.control-group {
    margin-bottom: 10px;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: 18px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
}

.graph-container {
    padding: 22px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.graph-container h2 {
    margin-top: 2px;
}

.graph {
    display: inline-block;
    width: calc(100% - 380px);
    height: 390px;
}

.graph-controls {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 15px;
    padding-left: 15px;
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0.12);
    border-left-width: 0.5px;
}

@media (max-width: 1400px) {
    .graph {
        width: 68%;
    }
}

@media (max-width: 900px) {
    .graph-container {
        margin-top: 0;
        width: calc(100% - 36px);
    }
    .graph {
        width: calc(100% - 270px)
    }
}

